<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">

<!-- favicon -->
<link rel="icon" type="image/png" href="images/favicon/favicon.png" />
<link rel="shortcut icon" type="image/x-icon" href="images/favicon/favicon.ico" />
<!-- fin favicon -->
<!-- neutralisation zoom ios -->
<meta name="viewport" content="width=device-width, user-scalable=no" />
<!-- fin neutralisation zoom ios  -->
<!-- fontawesome -->
<script src="https://use.fontawesome.com/210b63e969.js"></script>
<!-- end font awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<link href="http://localhost:4567/themes/base/snipcart.css" rel="stylesheet" type="text/css" />
<script src="https://use.fontawesome.com/3a92cba4c0.js"></script>
<script src="https://use.fontawesome.com/ace1c20b91.js"></script>
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Health'eat" %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag "all" %>
    <link rel="stylesheets" href="">
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
<script src="https://use.fontawesome.com/020458ef7b.js"></script>


<link href="//db.onlinewebfonts.com/c/b114f64e2461f6359b765880e98a7cf6?family=Fonarto" rel="stylesheet" type="text/css"/>

<!-- meta données facebook  -->
  <meta property="og:url" content="" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Health'eat" />
  <meta property="og:description" content="Healthy food factory pour étudiants par les étudiants" />
  <meta property="og:image" content="images/logohe1.png" />
<!-- fin meta données facebook  -->
<!-- meta données google -->
<meta name="Health'eat" content="Healthy food factory pour étudiants par les étudiants" />
<!-- fin meta données google -->
  </head>

  <body class="<%= page_classes %>">

    <%= partial 'partials/navbar' %>

    <%= yield %>

    <%= partial 'partials/footer' %>




<!-- javascript jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<!-- javascript waypoints -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>

<!-- javascript snipcart -->
<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="ZWFkMzhlODgtMTRlOC00MmU4LTk0NzktZmZiNzczNmU1NmMzNjM2MTgyOTk3NjkxNjU2MjA3"></script>
<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />


  <!-- IMPORT SDK LYDIA -->
  <script type="text/javascript" src="javascripts/LYDIASDK.js"></script>



<!-- Boostrap Latest compiled and minified CSS -->

<!-- Latest compiled and minified JavaScript -->

  </body>
</html>
