<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

<script src="https://use.fontawesome.com/3a92cba4c0.js"></script>
<script src="https://use.fontawesome.com/ace1c20b91.js"></script>
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Health'eat" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag "all" %>
    <link rel="stylesheets" href="">
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
<script src="https://use.fontawesome.com/020458ef7b.js"></script>


<link href="//db.onlinewebfonts.com/c/b114f64e2461f6359b765880e98a7cf6?family=Fonarto" rel="stylesheet" type="text/css"/


  </head>

  <body class="<%= page_classes %>">

    <nav class="navbar navbar-default navbar-fixed-top navbar-wagon" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <% link_to "/index.html", class: "navbar-brand" do %>
            <%= image_tag "logohe1.png" %>
          <% end %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right">
            <li>
              <% link_to "/concept.html" do %>
              </i> Concept
              <% end %>
            </li>
            <li>
              <% link_to "/#lienverslemenu" do %>
              </i> Menu
              <% end %>
            </li>
            <li>
              <% link_to "/team.html" do %>
                <i class="fa fa-users" aria-hidden="true"></i>L'équipe
              <% end %>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Follow-us <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="https://www.facebook.com/healtheatbdx"><i class="fa fa-facebook-square"></i> Facebook</a></li>
                <li><a href="https://www.instagram.com/healtheat_bdx"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></li>
              </ul>
            </li>
            <li><a href="http://localhost:4567/#!/cart" class="btn-secondary">Panier</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <%= yield %>

<!-- <div id="banner">
      <div id="footer">
       <div class="container">
        <div class="row">
          <div class="col-xs-4 col-sm-4">
            <ul class="list-inline social">
              <li>
                <a href="https://facebook.com/iceme">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <div class="col-xs-4 col-sm-4">
               <li>
                <a href="https://instagram.com/iceme">
                  <i class="fa fa-instagram"></i>
                </a>
               </li>
               <div class="col-xs-4 col-sm-4">
              <p class="text-right">
                Healh'eat sas <a href="http://www.kedgebs.com/fr">Kedge Business School</a>
              </p>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
 </div>
 -->
    <div id='contact'>
    <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="adress">
            <h3>Adresse</h3>
            <p>2 place Camille Pelletan</p>
            <p>33000</p>
            <p>Bordeaux</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="contact">
            <h3>Contact</h3>
            <p>06 59 78 52 62</p>
            <p>06 07 64 55 45</p>
            <p>contact@behealtheat.com</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="assistance">
            <h3>Health'eat SAS</h3>
            <p>Tous droit réservés</p>
            <p>N'hésitez pas à nous donner votre avis</p>
            <p>24h/24</p>
          </div>
        </div>
      </div>
       <!--  <div class="row">
          <div class="col-xs-4 col-sm-4">
            <ul class="list-inline social">
              <li>
                <a href="https://facebook.com/iceme">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <div class="col-xs-4 col-sm-4 col-md-6>
               <li>
                <a href="https://instagram.com/iceme">
                  <i class="fa fa-instagram"></i>
                </a>
               </li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>
  </div>

<!-- javascript snipcart -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="YmMxMDAyZTMtMjE0OS00NjIwLWIyOWEtNzMxZGMxYjY4ZDU3NjM2MTgyOTk3NjkxNjU2MjA3"></script>
<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />

<!-- fin de javascript   -->

  <!-- IMPORT SDK LYDIA -->
  <script type="text/javascript" src="javascripts/LYDIASDK.js"></script>

  </body>
</html>
