<div class="container">
  <div class="row">
    <div class="text-center padded smoothies">
    <h1>Les smoothies</h1>


    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class='smoothies-down'>

        <%= image_tag 'products/smoothierouge.jpg', width: '150px', class: 'img-circle' %>

        <h2>Le mange graisse</h2>

        <%= partial 'partials/snipcard-buttons/button_2' %>

      </div>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class='smoothies-down'>

       <%= image_tag 'products/smoothieviolet.jpg', width: '150px', class: 'img-circle' %>

        <h2>Le shotgun</h2>

        <%= partial 'partials/snipcard-buttons/button_4' %>

      </div>
    </div>



    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class='smoothies-down'>

        <%= image_tag 'products/smoothievert.jpg', width: '150px', class: 'img-circle' %>

        <h2>Le body challenge</h2>

        <%= partial 'partials/snipcard-buttons/button_5' %>

      </div>
    </div>



    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class='smoothies-down'>

        <%= image_tag 'products/smoothiejaune.jpg', width: '150px', class: 'img-circle' %>

        <h2>L'info-détox</h2>

        <%= partial 'partials/snipcard-buttons/button_6' %>

      </div>
    </div>
   </div>
  </div>
</div>
