


      <!-- banner partial -->
    <%= partial 'partials/banner' %>


      <!-- features partial -->
  <div class="backgroundicones">

    <%= partial 'partials/features' %>
  </div>


     <!-- presentation -->
  <div class="marketplace">

    <%= partial 'partials/presentation' %>
  </div>



  <!-- salads partial -->
  <div class="backgroundgopac">

    <%= partial 'partials/salads' %>
  </div>


  <!-- smoothies partial -->
  <div class="text-center padded veloute ">

    <%= partial 'partials/soupe' %>
  </div>






